.products-section {
  padding: 120px 20px;
}

.products-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
.swipper{
    padding: 20px 0px;
}
.products-title {
  text-align: center;
  font-size: clamp(32px, 4vw, 46px);
  font-weight: 800;
  margin-bottom: 70px;
  color: #111;
}

.products-title span {
  color: #fd9222;
}


.swiper-slide {
  display: flex;
}

/* CARD */
.product-card {
  width: 100%;
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  text-align: center;

  border: 1px solid rgba(0,0,0,0.06);

  box-shadow: 0 10px 30px rgba(0,0,0,0.05);

  transition: transform 0.15s ease, box-shadow 0.4s ease;

  transform-style: preserve-3d;

  cursor: grab;

  will-change: transform;
}

/* glow hover */
.product-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  /* background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(253,146,34,0.15),
    transparent 60%
  ); */
  opacity: 0;
  transition: 0.3s;
  border: 2px solid  #fd9222;
}

.product-card:hover::before {
  opacity: 1;
}

/* IMAGE */
.product-image-box {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  transform: translateZ(40px);
}

.product-image {
  max-width: 220px;
  width: 100%;
  object-fit: contain;
  transition: 0.4s ease;
}

.product-card:hover .product-image {
  transform: scale(1.1) rotate(-5deg) translateZ(80px);
}

/* TEXT */
.product-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
  transform: translateZ(30px);
}

.product-type {
  color: #777;
  margin-bottom: 20px;
  transform: translateZ(25px);
}

/* BUTTON */
.product-price {
  border: none;
  padding: 12px 28px;
  border-radius: 999px;
  background: #f6f6f6;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;

  transform: translateZ(50px);
}

.product-card:hover .product-price {
  background: #fd9222;
  color: white;
  transform: translateZ(90px);
}

/* PAGINATION */
.swiper-pagination-bullet {
  display: none;
}

.swiper-pagination-bullet-active {
  width: 34px;
  border-radius: 999px;
  background: #fd9222;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .products-section {
    padding: 90px 20px;
  }
}

@media (max-width: 576px) {
  .product-card {
    padding: 24px;
  }
}